*{
    font-family: 'Montserrat';
    box-sizing: border-box;
}
.section-1{
    background-image: url("Assets/hero-cover.3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #252B42;
    color: white;
    height: 900px;
    padding: 30px;
    font-weight: 600;
    font-size: large;
}
.navbar{
    display: flex;
    width: 100%;
    color: white;
    margin: 10px;
}
#brand{
    font-size: xx-large;
    display: flex;
    justify-content:end;
    width: 25%;
    font-weight: 600;
}
ul{
    list-style: none;
}
.tabs{
    width: 35%;
    float: right;
}
#tabs{
    display: flex;
    justify-content: space-around;
}
.login{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#signup{
    background-color: #23A6F0;
    width: 200px;
    height: 40px;
    border: #23A6F0 solid 3px;
    font-size: 20px;
    color: white;
    margin-top: 0;
    border-radius: 5px;
    height: 50px;
    margin-left: 50px;
}
.intro{
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    /* color: white; */
}
#tag-line{
    font-size: 70px;
    margin-bottom: 0;
    padding: 50px;
    padding-bottom: 25px;
}
#tag-description{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    padding-top: 25px;
}
.new{
    background-color: #23A6F0;
    border: #23A6F0 solid 2px;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    color: white;
}
.learn{
    background-color: transparent;
    border: white 2px solid;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    color: white;
}
.values-1{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    
}
.peace, .set, .satisfaction{
    background-color: white;
    width: 300px;
    margin: 20px;
    box-shadow: 0px 5px 20px rgb(206, 206, 206);
    height: 200px;
    padding: 30px;
    font-size: large;
}
#satisfaction{
    background-color: #23A6F0;
    color: white;
}
.title-1{
    font-size: 25px;
    font-weight: 700;
}
.description-1{
    color: gray;
}
#description-1{
    color: whitesmoke;
}
.values-2{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.peace-2, .set-2, .satisfaction-2{
    background-color: white;
    width: 300px;
    margin: 20px;
    height: 200px;
    padding: 30px;
    font-size: medium;
    text-align: center;
}
.title-2{
    font-weight: 600;
}
.section-3{
    text-align: center;
}
.title-3{
    font-size: 40px;
    opacity: .9;
    font-weight: 700;
    margin: 10px;
}
.description-3{
    margin: 20px;
}
.reviews{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.feedback{
    width: 250px;
    margin: 25px;
    padding: 15px;
    border: solid whitesmoke 3px;
}
.feedback>img{
    width: 150px;
}
.caption-1{
    opacity: .5;
}
.patners{
    display: flex;
    justify-content: center;
    width: 960px;
    position: relative;
    left: 490px;
}
.vector img{
    width: 40%;
}
